<div id="about" class="section">
  <div class="container">
    <h2>About</h2>
  </div>
  <div class="founders">
    <div class="container">
      <div class="row">
        <div class="span6 pull-left">
          <div class="founder">
            <div class="thumb">
              <%= image_tag "janis-krums.png", :atl => "Janis Krums" %>
            </div>
            <div class="text">
              <h3>
                Janis Krums
                <small>Founder</small>
              </h3>
              <div class="social">
                <a href="https://twitter.com/jkrums" class="icon-tw" target="_blank"><span>T</span></a>
                <a href="http://www.linkedin.com/in/janiskrums" class="icon-in" target="_blank"><span>L</span></a>
              </div>
              <p>
                A visionary, skilled in the art of networking and making things happen. Also known for taking the famous picture of the Hudson Plane Crash that went viral on Twitter.
              </p>
            </div>
          </div>
        </div>
        <div class="span6 pull-right">
          <div class="founder">
            <div class="thumb">
              <%= image_tag "bill-jula.png", :atl => "Bill Jula" %>
            </div>
            <div class="text">
              <h3>
                Bill Jula
                <small>Founder</small>
              </h3>
              <div class="social">
                <a href="https://twitter.com/billjula" class="icon-tw" target="_blank"><span>T</span></a>
                <a href="http://www.linkedin.com/pub/bill-jula/4a/2a2/237" class="icon-in" target="_blank"><span>L</span></a>
              </div>
              <p>
                A serial entrepreneur with extensive experience building professional networks. Enjoys brainstorming business ideas and beating Janis in basketball in his spare time.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
