<div id="contact" class="section">
  <div class="container">
    <div class="row">
      <div class="span6 pull-left">
        <ul>
          <li>
            <span class="icon icon-address">&nbsp;</span>
            <span class="text">
              425 2nd Street, Third Floor<br>
              San Francisco, CA 94107
            </span>
          </li>
          <li>
            <span class="icon icon-email">&nbsp;</span>
            <span class="text">
              <strong><a href="mailto:info@opprtunity.com">info@opprtunity.com</a></strong>
            </span>
          </li>
        </ul>
      </div>
      <div class="span6 pull-right">
        <div class="map">
          <%= image_tag "map.jpg" %>
        </div>
      </div>
    </div>
  </div>
</div>
