<div class="title">
  <h1>Tell us about yourself!</h1>
</div>
<div class="row">
  <div class="column pull-left">
    <%= f.input :first_name, label: 'Your Name:', input_html: {style: 'width: 90%;'} %>
    <%= f.input :company_name, input_html: {style: 'width: 90%;'}  %>
  </div>
  <div class="column pull-right">
    <%= f.input :last_name, input_html: {style: 'width: 90%;'}  %>
    <%= f.input :zip_code, input_html: {style: 'width: 90%;'}  %>
  </div>
</div>

