<div class="title">
  <h1>Congrats!</h1>
</div>
<p>Thank you for completing your Opprtunity Profile.  We are now searching the network in search of mutual opportunities for you to do business with other local professionals. Each time we discover an opprtunity, we will send you an email alert.  Remember, these are local professionals who have indicated they need what you sell... and who sell what you need! You will receive leads each time new members join... and each time you update your profile with new needs.</p>

<p>No more logging into an abyss of social networks looking for opportunities. Let Opprtunity find them for you!</p>

<p>The new way to network in 2013...</p>
