<div class="title">
  <h1>Congrats!</h1>
</div>
<p>Thank you for updating your Opprtunity Profile. We are now searching the network in search of real opportunities for you to do business. Each time we find a match, we'll send you (and the other person) an email alert with multiple ways to contact each other.</p>

<p>In the meantime, take a moment to SHARE your updated Opprtunity profile with your colleagues using the share icons below.  Sharing with people you already know is a great way to start generating real business opportunities right now.</p>

<p align="center" style="padding-top:25px">
<span class='st_sharethis_large' displayText='ShareThis'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_pinterest_large' displayText='Pinterest'></span>
<span class='st_email_large' displayText='Email'></span>
</p>
