
<div class="page-profile">
    <div class="row">
      <div class="span3">
        <div class="user-details">
          <div class="user-thumb"><a href="http://www.linkedin.com/in/sandissauka" target="_blank">
            <%= image_tag "profile-thumb.jpg" :style => "margin-left:10px"%>
          </div>
          <h3>Sandis Sauka</h3>
          <p>Latvia (90210) </p>
          <ul class="contacts">
            <li class="linkedin"><a href="http://www.linkedin.com/in/sandissauka">LinkedIn</a></li>
            <li class="phone">(415) 766-2302</li>
            <li class="skype"><a href="callto:sandissauka">sandissauka</a></li>
          </ul>
        </div>
      </div>
      <div class="span9">
        <div class="row">
          <div class="span4 pull-left">
            <div class="i-need">
              <h2>I Need</h2>
              <ul>
                  <li>Banking</li>
                  <li>Biotechnology</li>
                  <li>Higher Education</li>
              </ul>
            </div>
          </div>
          <div class="span5 pull-right">
            <div class="i-offer">
              <h2>I Offer</h2>
              <ul>
                  <li>Airlines/Aviation</li>
                  <li>Alternative Medicine</li>
                  <li>Animation</li>
              </ul>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="span9">
            <h1>My Pitch</h1>
            <p>Ullamco est retro, deep v ex tumblr odd future Austin brunch. Pinterest flexitarian placeat, PBR pug banjo banh mi forage nesciunt officia enim single-origin coffee. Stumptown selvage mlkshk plaid. Ei</p>
          </div>
        </div>
      </div>
    </div>
    <div class="edit-link-wrap">
      <a href="#">Edit Profile</a>
    </div>
  </div>

