// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Handlee);

#signupModal {
  width: 1050px;
  margin-left: -530px;
  background-color: #f5f5f5;
  input {
    height: 30px;
    font-size: 18px;
    padding-left: 12px;
  }
  .select2-choices {
    padding-bottom: 6px;
    max-height: 200px;
    overflow-y: auto;
    li.select2-search-choice:first-child {
      margin-top: 6px;
    }
  }
  .select2-search-choice {
    font-size: 18px;
    padding: 8px 8px 8px 24px;
    width: 438px;
    margin-bottom: 0px;
    line-height: 16px;
  }
  .select2-search-field {
    height: 30px;
  }
  .select2-search-choice-close {
    left: 8px;
    top: 9px;
  }
  .select2-container {
    display: block;
    margin: 0 auto;
  }
  .wizard-container {
    height: 420px;
    padding: 20px;
    h1 {
      font-family: 'Handlee', cursive, serif; font-weight: 400;
      text-align: center;
      font-size: 48px;
    }
    div.title {
      margin: 48px auto 36px;
    }
    .step-content {
      margin: 0 108px;
    }
    .column {
      width: 320px;
      margin-top: 24px;
    }
  }
  .actions.bottom {
    display: block;
    margin: 16px auto 24px;
    width: 300px;
    text-align: center;
  }
  .well {
    margin-bottom: 0;
  }
}

.wizard-connect {
  display: block;
  margin: 0 auto;
  width: 520px;
  .input-prepend {
    .add-on{
      height: 30px;
      width: 30px;
    }
    input {
      height: 30px;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

#signupWizard {
  span.badge {
    vertical-align: 1px;
  }
}

.nav-list > li > span {
  display: block;
  padding: 3px 0;
}

