<footer>
  <div class="container">
    <!-- COPYRIGHTS -->
    <p class="pull-left">Typica - Bootstrap template crafted with passion</p>
    <p class="pull-right"><a href="#">Back to top</a></p>
  </div>
</footer>
