<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"><%= image_tag 'logo.jpg' %></a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <% if current_user %>
            <li><a href="/">My Profile</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          <% else %>
            <li><a href="#how-it-works">How It Works</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          <% end %>

          <li>
            <% if current_user %>
            <li class="signout">
              <%= link_to "Sign out", signout_path %>
            </li>
            <% else %>
              <li class="top"><a href="#signup">Top</a></li>
            <% end %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
