<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"><%= image_tag 'logo.jpg' %></a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><a href="/">
            <% if current_user %>
              My Profile
            <% else %>
              Home
            <% end %>
          </a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><% if current_user %>
            <%= link_to "Sign out", signout_path %>
          <% else %>
            <%= link_to "Sign In", '/auth/linkedin' %>
          <% end %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
