<div id="signup">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h2>The Search is Over!</h2>
        <p>Opprtunity is a lead generation tool that sends you alerts each time we discover an opportunity for you to do business.</p>
        <div class="linkedin">
          <a href="/auth/linkedin" class="popup" data-height="584" data-width="440">
            <%= image_tag "signup-with-linkedin.png", :alt => "Signup with linkedin" %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
