<div class="slider-block">

  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= image_tag 'img/slide_bg2.jpg' %>

        <div class="caption middle-left container">
          <p class="small white text-dark">The Search Is Over!</p>
          <p class="large white text-pink">Let Opprtunity Find You<br/>Real Leads In Real-Time!</p>
        </div>
        <div class="caption middle-right container">
          <p style="margin-top:25px">
            <%= link_to '/auth/linkedin', :class => 'popup', data: { height: 584, width: 440 }  do %>
              <%= image_tag('signup_with_linkedin.png') %>
            <% end %>
          </p>          
        </div>        
    </div>
  </div>

</div>