<!DOCTYPE html>
<html lang="en">

  <%= render 'layouts/head' %>

  <body>

    <%= render 'layouts/navbar' %>

    <div class="container main">

      <%= yield %>

    </div> <!-- /container -->

    <%= render 'layouts/footer' %>

  </body>
</html>
